//color goes here
$background-color-primary: rgb(31, 27, 27);
$background-color-secondary: #272626;

$font-color-primary:rgb(202, 202, 202);
$font-color-secondry:whitesmoke;

//constants
$profile-picture-container-height-bigger-screen:420px;
$profile-picture-container-width-bigger-screen:420px;
$profile-picture-container-height-smaller-screen:320px;
$profile-picture-container-width-smaller-screen:320px;

$profile-picture-width:140%;
$profile-picture-height:100%;

//for responsiveness
$maximum-width-of-pages : 1440px;