//color goes here
$background-color-primary: rgb(31, 27, 27);
$background-color-secondary: #272626;

$font-color-primary:rgb(202, 202, 202);
$font-color-secondry:whitesmoke;

//constants
$profile-picture-container-height:420px;
$profile-picture-container-width:420px;

//for responsiveness
$maximum-width-of-pages : 1440px;