@import '../../utils/styles/colors_and_variables.scss';
@import '../../utils/styles/helper_mixins.scss';

.Intro{

    @include align-component-to-center($maximum-width-of-pages);
    font-size : 2rem;
    padding-bottom: 20vh;
    padding-top: 10vh;
    color : $font-color-primary;
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
    @include flex-coloumn-sa-center;
        
        // padding-top: calc(50vh - 230px);

        .profile_photo_container{
            
            height: $profile-picture-container-height-smaller-screen;
            width : $profile-picture-container-width-smaller-screen;

            overflow: hidden;
            border-radius: 50%;
    
            .profile_photo{
                width: $profile-picture-width;
                height: $profile-picture-height;
            }
        }


        .headers{
            @include flex-coloumn-ce-center;
            padding-top:20px;
            text-align: center;
            width:360px;

            .main_heading{
                font-size : 2.2rem;
                font-weight: bold;
                padding-bottom:25px;
            }

            .sub_heading{
                font-size : 1.2rem;
                font-weight: 100;
                padding-bottom: 20px;
                opacity: 0.6;
            }

            .textCorousal{
                font-size : 1.5rem;
                font-weight: normal;
                width: 360px;
                height:25px;
            }

        }
    
    
}


@media only screen and (min-width: 800px) {
    .Intro{
        @include flex-row-sa-center;
        padding-top: 0px;
        padding-bottom: 0px;

        .profile_photo_container{
            height: $profile-picture-container-height-bigger-screen;
            width : $profile-picture-container-width-bigger-screen;
        }

        .headers{
            width:450px;
            .main_heading{
                font-size : 2.5rem;
            }

            .sub_heading{
                font-size : 1.5rem;
            }

            .textCorousal{
                font-size : 1.8rem;
                width: 450px;
            }
        }
    }
}